<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>IP Information</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" value="#f7f7f7" />
    <link rel="icon" href="favicon.ico" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="assets/apple-touch-icon.png" />
    <link rel="stylesheet" href="assets/style.css" />
  </head>
  <body>
    <h1>IP Information</h1>

    <dl>
      <dt>IP</dt>
      <dd>{{ ipDisplay }}</dd>

      {% if infodata.country or infodata.region or infodata.city %}
      <dt>Location</dt>
      <dd>
        {% if infodata.country %}
        <div>{{ infodata.country }}</div>
        {% endif %}
        {% if infodata.region or infodata.city %}
        {% assign location = infodata | pick: "region", "city" | unique | join: ", " -%}
        <div>{{ location | escape }}</div>
        {% endif %}
      </dd>
      {% endif %}

      <dt>ASN</dt>
      <dd>{{ infodata.asn }}</dd>

      {% if infodata.isp %}
      <dt>ISP</dt>
      <dd>{{ infodata.isp | escape }}</dd>
      {% endif %}

      {% if infodata.browser %}
      <dt>Browser</dt>
      <dd>{{ infodata.browser.name | append: " " | append: infodata.browser.major | escape }}</dd>
      {% endif %}

      <dt>User-Agent</dt>
      <dd>{{ infodata.userAgent | escape }}</dd>
    </dl>

    <footer>
      <p>
        Created by
        <a href="https://rensatsu.netlify.app/" target="_blank" rel="noopener">Rensatsu</a>,
        {{ year }}
      </p>

      <p>
        <a href="https://github.com/rensatsu/my-ip-worker" target="_blank" rel="noopener">
          View source code on GitHub
        </a>
      </p>

      <p class="debug">
        <time datetime="{{ timestamp }}">{{ datetime }}</time>
      </p>
    </footer>
  </body>
</html>
