<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>IP Information</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" value="#f7f7f7" />
    <link rel="icon" href="favicon.ico" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="assets/apple-touch-icon.png" />
    <link rel="stylesheet" href="assets/style.css" />
    <script defer src="https://u.rensatsu.com/u" data-website-id="594433ce-2f5a-496f-81d5-9eae553c8fda"></script>
  </head>
  <body>
    <h1>IP Information</h1>
    <h2>{{ infodata.ip | maskIp: allowTextApi }}</h2>

    <dl>
      {% if infodata.country or infodata.region or infodata.city %}
      <dt>Location</dt>
      <dd>
        {% if infodata.country %}
        <div>{{ infodata.country }}</div>
        {% endif %}
        {% if infodata.region or infodata.city %}
        {% assign location = infodata | pick: "region", "city" | unique | join: ", " -%}
        <div>{{ location | escape }}</div>
        {% endif %}
      </dd>
      {% endif %}

      <dt>ASN</dt>
      <dd>{{ infodata.asn }}</dd>

      {% if infodata.isp %}
      <dt>ISP</dt>
      <dd>{{ infodata.isp | escape }}</dd>
      {% endif %}

      {% if infodata.browser %}
      <dt>Browser</dt>
      <dd>{{ infodata.browser.name | append: " " | append: infodata.browser.major | escape }}</dd>
      {% endif %}

      <dt>User-Agent</dt>
      <dd>{{ infodata.userAgent | escape }}</dd>
    </dl>

    <footer>
      <div class="link-pills">
        <a href="https://rensatsu.com/" target="_blank" rel="noopener">
          <picture>
            <source srcset="https://rensatsu.com/img/avatar_2025_min.avif" type="image/avif">
            <source srcset="https://rensatsu.com/img/avatar_2025_min.webp" type="image/webp">
            <source srcset="https://rensatsu.com/img/avatar_2025_min.jpg" type="image/jpeg">
            <img src="https://rensatsu.com/img/avatar_2025_min.jpg" alt="Avatar" aria-hidden="true">
          </picture>
          Created by Rensatsu
        </a>

        <a href="https://github.com/rensatsu/my-ip-worker" target="_blank" rel="noopener">
          <img src="/assets/icons/github.svg" alt="Avatar" aria-hidden="true">
          View source code on GitHub
        </a>
      </div>

      <p class="debug">
        <time datetime="{{ timestamp | date: '%s' }}">
          {{ timestamp | date: "%b %d, %Y at %H:%M:%S", 0 }}
        </time>
      </p>
    </footer>
  </body>
</html>
